body
{
    display: flex;
    justify-content: center;
    background-color: rgb(216, 216, 208);
}

.MainDiv
{
    width: 33.3%;
    margin-top: 5%;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(126, 150, 150);
    text-align: center;
    box-shadow: 1px 3px 3px 3px;
}

